<!-- <div class="key"></div> -->
<p class="byline brandon"></p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter your email to start earning $$", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
<% end %>