<p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR LAUNCH.</p>
<p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
<p class="go-to brandon">In the meantime, head to  <a href="http://www.printedvillage.com/">WWW.printedvillage.COM</a></p>
<p class="again brandon">Thank You Again!</p>